.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: calc(1600px - 48px);
  width: 100%;
  height: 500px; 
  
  position: relative;
  overflow: hidden; 
  
  border-radius: 50px; 
  border: 2px solid var(--color-primary); 
  
  transform: translateZ(0); 
  background-color: #000; 
}

.video {
  position: absolute;
  width: 150%; 
  height: 200%; 
  
  
  top: -20%; /* (250% / 2) - (100% / 2) = 125% - 50% = 75%  <- (для центра) */
  left: -27%; /* (150% / 2) - (100% / 2) = 75% - 50% = 25% <- (для центра) */
  
  object-fit: cover; 
  
  will-change: transform; 
  pointer-events: none; 
}

@media (max-width: 768px) {
  .container {
    height: 400px; 
    border-radius: 30px;
  }
  .video {
    width: 200%; 
    height: 300%; 
    top: -100%; /* (300/2) - (100/2) = 150 - 50 = 100 */
    left: -50%; /* (200/2) - (100/2) = 100 - 50 = 50 */
  }
}