.section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 24px 0;
  background-color: var(--color-background-light); 
}

.title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: -0.03em;
  line-height: 1;
  color: var(--color-text-dark);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px; 
}

.card {
  background-color: var(--color-background-light); /* Белый фон */
  border-radius: 40px;
  padding: 30px 40px;
  height: 280px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: 0 4px 10px rgba(0,0,0,0.02), 0 8px 30px rgba(0,0,0,0.05);
  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1), box-shadow 0.4s ease, border-color 0.4s ease;
  
  position: relative;
  border: 1px solid #d6d6d6;
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 20px 60px rgba(0,0,0,0.12); 
  border-color: var(--color-primary); 
}

.cardTitle {
  width: 70%;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text-dark);
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}

.cardDesc {
  font-size: 22px;
  color: #505050; 
  line-height: 1.4;
  margin-top: 15px;
  max-width: 90%; 
}

.cardIcon {
  position: absolute;
  top: 30px; 
  right: 40px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e8e8ed; 
  color: #6a6a70; 
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 2;
}

.card:hover .cardIcon {
  background-color: var(--color-primary); 
  color: #fff;
  opacity: 1;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .title {
    font-size: 40px;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .card {
    height: auto;
    padding: 40px;
  }
  .cardTitle {
    font-size: 32px;
  }
  .cardDesc {
    font-size: 16px;
  }
  .cardIcon {
    top: 40px;
    right: 40px;
  }
}