
.container {
    margin: 40px 0;
    background-color: var(--color-primary);
    border-radius: 50px;
    padding: 24px; 
}

.heading {
    font-size: 36px; 
    font-weight: 700; 
    line-height: 1;
    margin:24px 48px 48px; 
    
    color: var( --color-text-light);
    display: inline-block;
    padding-bottom: 4px;
}

.sliderWrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border: 1px solid #afafaf;
}


.sliderClip {
    overflow: hidden; 
    flex: 1;
}

.slider {
    display: flex;
    gap: 24px;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
    width: fit-content; 
    padding: 24px 0;
}

.slider > * {
    flex: 0 0 330px; 
    border-radius: 30px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.arrow {
    width: 48px; 
    height: 48px;
    z-index: 10; 
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    font-size: 60px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.arrow:disabled {
    color: #afafaf; 
}

.arrow:hover:not(:disabled) {
    color: rgb(0, 40, 173); 
}

.left {
    margin-right: 4px; 
}

.right {
    margin-left: 4px;
}