.breadcrumbs {
    font-size: 18px;
    margin-bottom: 24px;
}

.link {
    color: #888888;
    text-decoration: none;
}

.current {
    color: var(--color-primary);
    font-weight: 500;
}

.separator {
    margin: 0 6px;
    color: #888888;
}
