.card {
    width: 370px;
    height: 400px;
    background-color: var(--color-primary);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 2px solid var(--color-primary);
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card::after{
    content: none !important;
}

.imageWrap {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 28px;
    border-bottom: 2px solid var(--color-primary);
}

.imageWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card:hover .imageWrap img{
    transform: scale(1.03);
}
.contName{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content:center ;
    padding: 0 12px;
}
.name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-light);
    text-align: center;
}
