.card {
  display: flex;
  flex-direction: column;
  background: var(--color-background-light);
  border-radius: 30px; 
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  border: 1px solid rgb(170, 170, 170);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  border-color: var(--color-primary);
  z-index: 2;
}

.card::after {
  content: none;
}

.imageContainer {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  overflow: hidden; 
  border-radius: 28px;
   border-bottom: 1px solid rgb(170, 170, 170);
   transition: border 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.card:hover .imageContainer {
  border-color: var(--color-primary); 
}

.image {
  object-fit: cover; 
  transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card:hover .image {
  transform: scale(1.03);
}

.placeholder {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 14px;
}

.content {
  padding: 12px 24px 4px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  background-color: rgb(255, 255, 255);
}

.brand {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-light-hover);
  letter-spacing: 0.8px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text-dark);
  margin: 0;
  line-height: 1.4;
  /* Ограничение в 2 строки */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
   overflow: hidden;
   transition: color 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.card:hover .title {
  color:var(--color-primary);
}


.bottomRow {
  margin-top: auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-text-light-hover);
}

.arrowIcon {
  font-size: 18px;
  
  color: var(--color-primary);
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.2s ease;
}

.card:hover .arrowIcon {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 900px) {
  .card {
    border-radius: 24px;
  }

  .imageContainer {
    border-radius: 22px;
  }

  .content {
    padding: 10px 16px 4px 16px;
    gap: 4px;
  }

  .title {
    font-size: 16px;
  }

  .bottomRow {
    margin-top: 6px;
  }
}

@media (max-width: 440px) {
  .card {
    border-radius: 20px;
  }

  .imageContainer {
    border-radius: 18px;
    padding-top: 80%;
  }

  .content {
    padding: 8px 12px 4px 12px;
  }

  .brand {
    font-size: 11px;
  }

  .title {
    font-size: 15px;
    -webkit-line-clamp: 3;
  }

  .volume {
    font-size: 11px;
  }

  .arrowIcon {
    opacity: 1;
    transform: translateX(0);
  }
}
