.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  
  background-color: var(--color-primary); 
  border: 2px solid var(--color-primary); 
  border-radius: 50px; 
  overflow: hidden; 
}

.slidingPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background-color: var(--color-background-light);
  border-radius: 48px; 
  z-index: 1; 
  
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1); 
}

.block {
  flex: 1; 
  position: relative;
  z-index: 2; 
  padding: 48px 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 6px;
}

.alignRight {
  text-align: right;
  align-items: flex-end; 
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1;
  transition: color 0.5s ease;
}

.text {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  transition: color 0.5s ease;
  max-width: 80%; 
}

.textDark {
  color: var(--color-text-dark);
}

.textLight {
  color: #ffffff;
}

.btnBlue{
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  
  padding: 0px 36px;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  transition: all 0.3s ease-out;
  transform: scale(1);
}

.btnBlue:hover{
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: scale(1.02);
}

.btnWhite {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  
  padding: 0px 36px;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  transition: all 0.3s ease-out;
  transform: scale(1);
}


 .btnWhite:hover {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: scale(1.02);
}

.btnWhite,.btnBlue::after{
  content: none;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    min-height: auto;
    border-radius: 30px;
  }
  
  .slidingPanel {
    display: none; 
  }
  
  .block {
    padding: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  
  .block:first-child {
    background-color: #ffffff;
  }
  .block:first-child .title, 
  .block:first-child .text {
    color: var(--color-text-dark);
  }
  .block:first-child .btnBlue { /* Кнопка */
     background-color: var(--color-primary);
     color: #fff;
  }

  .block:last-child {
    background-color: var(--color-primary);
  }
  .block:last-child .title, 
  .block:last-child .text {
    color: #fff;
  }
  
  .alignRight {
    text-align: left;
    align-items: flex-start;
  }
}