
.mainWrapper {
    background-color:var(--color-background-light);
  min-height: 100vh;
  width: 100%;
}

.pageContainer {
    max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.productContainer {
    display: flex;
    gap: 48px;
    background-color: var(--color-background-light);
    border-radius: 50px;
    padding: 24px; 
    border: 1px solid rgb(170, 170, 170);
}

.imageContainer {
    flex: 0 0 500px; 
    height: 500px;
    position: relative;
    overflow: hidden;
    
    border-radius: 40px; 
    border: 1px solid rgb(170, 170, 170);
    
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.imageContainer:hover {
    border-color: var(--color-primary); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.productImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.imageContainer:hover .productImage {
    transform: scale(1.03);
}


.infoContainer {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.brand {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-light-hover);
    letter-spacing: 0.8px;
}

.title {
    font-size: 40px; 
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.2;
    margin: 8px 0 20px;
    line-height: 1; 
}


.whatsappButton {
    display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 220px;
  
  padding: 8px 36px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  transition: all 0.3s ease;
  transform: scale(1);

    margin-top: auto;
}

.whatsappButton:hover {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: scale(1.02);
}

.whatsappButton::after{
  content: none;
}

.descriptionContainer {
    color: var(--color-text-dark);
    margin: 20px 0 50px;
}

.descriptionContainer h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-text-dark);
}
.descriptionContainer li {
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.8;
}
.descriptionContainer p {
    font-size: 20px;
    line-height: 1.5;
}
.descriptionContainer h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-text-dark);
    margin-top: 32px;
    margin-bottom: 8px;

}

/* --- Мобильная адаптация --- */
@media (max-width: 1024px) {
    .productContainer {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    .imageContainer {
        flex: 1 1 100%;
        max-width: 100%;
        height: 300px;
    }
    .title {
        font-size: 30px;
    }
    .whatsappButton {
        max-width: 100%;
    }
    .descriptionContainer {
         padding: 20px;
    }
}

@media (max-width: 600px) {
    .pageContainer {
        padding: 16px;
    }
}