
.pageWrapper {
  background-color:var(--color-background-light);
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:24px;
}