
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 24px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  color: var(--color-text-light);
  font-size: 60px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 40px;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: start;
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center; 
    }
}

.noNews {
    background-color: transparent;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    font-size: 24px;
    color: var(--color-text-light);
}