.header {
  background-color: transparent;
  padding: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0s ease-out; 
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px var(--spacing-lg);
}

.logo {
  text-decoration: none;
  position: relative;
  line-height: 0;
}

.logo::after {
  content: none;
}

.logoImage {
  display: block;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo:hover .logoImage {
  transform: rotate(10deg) scale(1.02);
}

.navList {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navLink {
  color: var(--color-text-light); 
  font-size: 20px;
  font-weight: 700;
  transition: color 0.4s ease-out;
}

.navLink:hover {
  color: var(--color-text-light-hover); 
}
.navLink::after {
  background-color: var(--color-text-light);
}

.navLink:hover::after {
  background-color: var(--color-text-light-hover);
}



.header.themeWhite {
  background-color: var(--color-background-light); 
}

.themeWhite .navLink {
  color: var( --color-text-dark); 
}

.themeWhite .navLink::after {
  background-color: var(--color-text-dark); 
}

.themeWhite .navLink:hover::after {
  background-color: var(--color-primary);
}

.themeWhite .navLink:hover {
  color: var(--color-primary); 
}
