.page {
  background-color:var(--color-background-light);
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-primary); 
  font-size: 60px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 40px;
}

.status {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20PX;
    margin-top: 20px;
}

.error {
    color: red;
    margin-top: 20px;
    font-size: 18px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); 
  gap: 24px;
  padding: 0 0 40px;
}

.grid a {
  text-decoration: none; 
}

.grid a::after {
  content: none !important; 
}

@media (max-width: 1300px) {
  .title {
    font-size: 48px;
    margin-bottom: 28px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 16px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 24px;
  }
}
