
.footer {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding: var(--spacing-lg) 0 var(--spacing-md);
  font-size: 18px;
  font-weight: 600;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.topRow {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-lg);
  padding-bottom: var(--spacing-xl);
  border-bottom: 1px solid var(--color-background-gray);
}

.navSection, 
.contactSection, 
.policySection {
  flex: 1; 
  min-width: 150px;
}

.policySection{
  display: flex;
  align-items: center;      
  justify-content: flex-end;
  padding: 0; 
}

.navTitle {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: var(--spacing-lg);
  color: var(--color-primary);
}

.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  margin-bottom: var(--spacing-sm);
}

.navLink {
  color: var(--color-text-light);
  text-decoration: none;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: var(--color-primary);
}

.contactItem {
  margin-bottom: var(--spacing-sm);
}

.contactText {
  margin: 0;
}

.policyLink {
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  line-height: 1;
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 1px 0px;
}

.policyLink:hover {
  color: var(--color-primary);
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-md);
}

.copyright {
  font-size: 14px;
  margin: 0;
}

.paymentIcons span {
  margin-left: var(--spacing-md);
  font-size: 0.7rem;
  padding: 3px 6px;
  border: 1px solid var(--color-background-gray);
  border-radius: 2px;
}