.footer {
  background-color: black;
  padding: 40px 0; 
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex; 
  justify-content: space-between;
  gap: 40px; 
  min-height: 360px; 
}

.leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.infoRow {
  display: flex;
}

.navColumn{
  width: 50%;
}

.contactsColumn {
  width: 50%;
}

.mapSide {
  width: 50%;
  min-height: 300px;
  display: flex;
}

.mapWrapper {
  width: 100%;
  height: auto; 
  min-height: 100%;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid var(--color-primary);
  background-color: #111;
  position: relative;
}

.mapFrame {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  filter: invert(100%) grayscale(100%) brightness(1) sepia(100%) hue-rotate(180deg) saturate(300%) contrast(1.1);
  transition: filter 0.3s ease;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 36px;
  line-height: 1;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 12px;
}

.link{
  color: var( --color-text-light);
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  transition: color 0.2s ease;
  line-height: 1.5;
}

.contactLink, .address {
  color: var( --color-text-light);
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  transition: color 0.2s ease;
  line-height: 1.3;
  display: block;
  margin-bottom: 12px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.link:hover, .contactLink:hover {
  color: var(--color-primary);
}

.bottomArea {
  width: 100%;
  margin-top: 40px; 
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
}

.bottomContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.copyright{
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.policyLink {
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
  transition: color 0.2s;
  text-align: right;
}

.policyLink:hover {
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 60px;
  }

  .leftSide {
    width: 100%;
  }

  .mapSide {
    width: 100%;
    height: 400px;
  }

  .navColumn, .contactsColumn {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .infoRow {
    flex-direction: column;
    gap: 40px;
  }

  .navColumn, .contactsColumn {
    width: 100%;
  }

  .bottomContent {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .policyLink {
    text-align: left;
  }

  .mapSide {
    height: 300px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .link, .contactLink, .address {
    font-size: 18px;
  }
}