.mainWrapper {
  background-color:var(--color-background-light);
  min-height: 100vh;
  width: 100%;
  
}

.pageContainer {
    max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  background-color: rgb(255, 177, 177);
}

.header {
    text-align: center;
    margin-bottom: 32px;
    background-color: bisque;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    color: #0f172a;
}

.description {
    font-size: 16px;
    color: #475569;
    margin-top: 8px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 24px;
}

.emptyText {
    text-align: center;
    font-size: 16px;
    color: #94a3b8;
    margin-top: 48px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
    background-color: blueviolet;
}

.mainContentWrapper {
    display: flex;
    flex-direction: row; 
    gap: 24px; 
    background-color: brown;
}

.contentArea {
    flex-grow: 1; 
    min-width: 0; 
    background-color: cadetblue;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    gap: 24px;
}


@media (max-width: 900px) {
    .mainContentWrapper {
        
        flex-direction: column;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}