.card {
  background-color: var(--color-background-light); 
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 460px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.349);
  transform: translateY(-4px);
}

.card:after {
  content: none;
}

.imageWrapper {
  width: 100%;
  height: 220px; 
  position: relative;
  border-radius: 28px; 
  overflow: hidden;
  flex-shrink: 0; 
}

.image {
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .image {
  transform: scale(1.03);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  padding: 24px; 
}

.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-text-dark); 
  margin-bottom: 10px;
  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  transition: transform 0.3s ease;
}

.card:hover .title {
  transform: translateX(4px);
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-text-dark); 
  margin-bottom: 20px;
  
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttonWrapper {
  margin-top: auto; 
  background-color: rgb(255, 255, 255);
  display: flex; 
  justify-content: flex-start; 
}

.readMoreButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 28px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  color: var(--color-text-dark);
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.readMoreButton:hover {
   background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: scale(1.02);
}