.section {
  max-width: calc(1600px - 48px);
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary); 
  overflow: hidden; 
  border-radius: 50px; 
}

.marqueeContainer {
  font-size: 100px; 
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap; 
  margin: 20px 0;
  overflow: hidden;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.marqueeContent {
  width: 200%; 
  animation: marquee 40s linear infinite; 
  display: flex;
}

.marqueeNormal {
  color: var(--color-text-light); 
  margin-right: 60px;
}

.marqueeStroke {
  color: transparent; 
  -webkit-text-stroke: 2px var(--color-text-light); 
  margin-right: 60px; 
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 24px 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.8fr; 
  gap: 24px;
  align-items: center;
}

.linkBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
  height: 100%;
  transition: transform 0.3s ease;
  color: var(--color-text-light);
}

.linkBlock:hover {
  transform: translateX(8px); 
  color: var(--color-text-light-hover);
}

.linkBlock:after {
  content: none; 
}

.linkText {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.linkText:hover {
  color: var(--color-text-light-hover);
}

.arrow {
  font-size: 40px;
  font-weight: 300;
  padding: 0 0 8px 16px;
  transition: color 0.3s ease;
}
