
.contentContainer {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 24px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  color: var(--color-text-light);
  font-size: 60px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 40px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 1024px) {
  .pageTitle {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .contentContainer {
    padding: 0px 20px 40px;
  }
}

@media (max-width: 768px) {
   .pageTitle {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .contentContainer {
    padding: 0px 16px 40px;
  }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.emptyState {
    background-color: transparent;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
}

.emptyState p {
    font-size: 24px;
    color: var(--color-text-light);
}