.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.intro {
  max-width: calc(1600px - 48px);
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  border-radius: 50px;
}

.leftColumn {
  flex: 3;
  padding-bottom: 24px;
  margin: 20px 0;
  display: flex;
  align-items: center;

}

.mainTitle {
  font-size: 130px; 
  font-weight: 900; 
  line-height: 1; 
  color: var(--color-text-light);
}

.rightColumn {
  flex: 1.8; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  padding: 36px 0 36px 0;
  align-items: flex-end;
  text-align: right; 
}

.description {
  font-size: 28px; 
  font-weight: 500; 
  line-height: 1.1;
  color: var(--color-text-light);
}

.aboutButton {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  
  padding: 0px 36px;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-background-light);
  color: var(--color-primary);
  border: 2px solid var(--color-background-light);
  border-radius: 50px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.aboutButton:hover {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: scale(1.02);
}

.aboutButton::after{
  content: none;
}

@media (max-width: 1300px) {
  .wrapper {
    padding: 0 20px;
  } 
  .intro {
    padding: 32px 32px 32px;
    border-radius: 44px;
  }

  .mainTitle {
    font-size: 110px;
  }

  .description {
    font-size: 24px;
  }

  .aboutButton {
    font-size: 24px;
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 16px;
  } 
  .intro {
    flex-direction: column;
    padding: 28px 24px;
    border-radius: 40px;
    gap: 24px;
  }

  .leftColumn {
    width: 100%;
    margin: 0;
    justify-content: flex-start;
  }

  .rightColumn {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    text-align: left;
  }

  .mainTitle {
    font-size: 72px;
    line-height: 1;
  }

  .description {
    font-size: 22px;
    line-height: 1.3;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .aboutButton {
    font-size: 22px;
    padding: 4px 28px;
  }
}


@media (max-width: 768px) {
  .intro {
    padding: 24px 20px;
    border-radius: 32px;
  }

  .mainTitle {
    font-size: 52px;
  }

  .description {
    font-size: 18px;
  }

  .aboutButton {
    font-size: 18px;
    padding: 4px 22px;
  }
}
