
.intro {
  max-width: calc(1600px - 48px);
  width: 100%;
  margin: 0 auto;
  padding: 40px 24px 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  border-radius: 50px;
}

.leftColumn {
  flex: 3;
  padding-bottom: 24px;
  margin: 20px 0;
  display: flex;
  align-items: center;

}

.mainTitle {
  font-size: 130px; 
  font-weight: 900; 
  line-height: 1; 
  color: var(--color-text-light);
}

.rightColumn {
  flex: 1.2; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  padding: 36px 0 36px 0;
  align-items: flex-end;
  text-align: right; 
}

.description {
  font-size: 28px; 
  font-weight: 500; 
  line-height: 1.1;
  color: var(--color-text-light);
}

.aboutButton {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  
  padding: 0px 36px;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-background-light);
  color: var(--color-primary);
  border: 2px solid var(--color-background-light);
  border-radius: 50px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.aboutButton:hover {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transform: scale(1.02);
}

.aboutButton::after{
  content: none;
}